<div class="row">
  <div class="col-auto">
    {{! name of city }}
    <h1>Welcome to {{location.name}}</h1>
  </div>
</div>
<section class="container">
  <div class="row justify-center">
    {{#each}}
      {{! add item}}
      <div class="card">
        <header>{{itemType.name}}</header>
        <div class="card-body">
          {{! image of object? }}
          <img src="/images/" alt="" />
          <button class="buy-item" item-id="{{item.id}}">Buy</button>
          <button class="sell-item" item-id="{{item.id}}">Sell</button>
        </div>
      </div>
    {{/each}}
    </div>
  </div>
</section>
<button class="world-map">Go back to Map</button>
<script src="../public/js/location.js"></script>