<section class="section">
  <div class="login-form">
		<img alt="" class="avatar" src="https://i.postimg.cc/zDyt7KCv/a1.jpg">
		<h2>MerchantGame Player Login</h2>
		<form action="">
			<p>Email</p><input placeholder="Enter Email" type="email">
			<p>Password</p>
      <input placeholder="Enter Password" type="password">
      
      <input type="submit" value="Sign in">
      
      <p><input type="checkbox">Remember Me</p>
       <input type="submit" value="New Player Sign up">

		</form>
	</div>
</section>
<script src="/js/login.js"></script>