<div class="row">
  <div class="col-auto">
    {{! name of user }}
    <h1>Welcome, {{userName}}</h1>
  </div>
</div>
<section class="container">
  <div class="flex-row justify-center">
    {{! to create a new game }}
    <div class="card">
      <header>Create a new game!</header>
      <div class="card-body">
        <div class="form-group">
          <label for="new-game-name">Name of new character:</label>
          <input class="form-input" type="text" id="new-game" />
        </div>
        {{! button will direct to existing game }}
        <div class="form-group">
          <button class="btn new-game" type="submit">Create</button>
        </div>
      </div>
    </div>
    {{! retrieve existing game }}
    {{#each saveFiles as |saveFile|}}
      <div class="card" data-id="{{saveFile.id}}">
        <header></header>
        <div class="card-body">
          <p>{{saveFile.day}}</p>
          {{! have a random image in the card to make it nicer  }}
          <img src="/images/" alt="" />
          {{! button will direct to existing game }}
          <button class="existing-game">Continue game</button>
          <button class="delete-game">Delete game</button>
        </div>
      </div>
    {{/each}}
  </div>
</div>
<script src="/js/saveFile.js"></script>