/* have worlmap on the background of pages */
body {
  background-image: url("../images/citybg.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-size: cover; /* Resize the background image to cover the entire container */
}

.is-vcentered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.is-disabled {
  display: none;
}