/* have worlmap on the background of pages */
body {
  background-image: url("../images/citybg.png"); /* The image used */
  background-position: center; /* Center the image */
  background-repeat: no-repeat; /* Do not repeat the image */
  /* background-size: cover; */
  background-size: 100% 115%
}

.is-vcentered {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
}

.is-disabled {
  display: none;
}

.table td
{
  vertical-align: middle;
  padding: 0.1em 0.1em;
}

.bottom-of-screen
{ 
  position: fixed;
  align-items: center;
  width: 75%;
  bottom: 5%;
}

.location0
{
  position: fixed;
  top: 25%;
  right: 40%;
}

.location1
{
  position: fixed;
  top: 40%;
  left: 20%;
}

.location2
{
  position: fixed;
  bottom: 25%;
  left: 10%;
}

.location3
{
  position: fixed;
  bottom: 30%;
  right: 45%;
}

.location4
{
  position: fixed;
  bottom: 40%;
  left: 70%;
}